<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
	<appSettings>
		<add key="Environment" value="Dev"/>
		<add key="JobClassName" value="DG.XrmOrg.XrmSolution.ConsoleJobs.Jobs.ExampleReadFromCrmWriteToCsv"/>
		<add key="ClientId" value=""/>
		<add key="ClientSecret" value=""/>
		<add key="DevEnv" value="https://my-dev-env.crm4.dynamics.com/"/>
		<add key="TestEnv" value="https://my-test-env.crm4.dynamics.com"/>
		<add key="ProdEnv" value="https://my-prod-env.crm4.dynamics.com"/>
		<add key="CsvSeparator" value = ";"/>
	</appSettings>
</configuration>
